@import "default/form";
.clone {
	display:none;
}
body {
	padding-bottom: 40px;
	background-color: #eee;
}
footer {
	margin-top:140px;
}

.sidebar {
	background: #f5f5f5;
}
.main {
	background: #fff;
}